<div id = "message_form">
	<p id = 'message'>
		Click on the glyphs below to write your message. Click on glyphs in the message to delete them.
	</p>
	<p id = 'text_area' >

	</p>

	<%= form_for(@order) do |f| %>
		<%= f.label :message %>
		<%= f.hidden_field :message, :value => "" %>
		<%= f.hidden_field :colors, :value => "" %>
		<%= f.hidden_field :x, :value => "" %>
		<%= f.hidden_field :y, :value => "" %>

		<%= f.submit 'Submit', class: 'btn btn-primary' %>
	<% end %>

	<div id = "keyboard">
		<%= render partial: 'shared/glyph_button', collection: glyphs.order(:meaning), as: :glyph %>
	</div>
</div>