<h1>Build Orders</h1>
<div>
	<b>Total Build Orders:</b> <%= @build_orders.count %><br/>
	<b>Total Unused Build Orders:</b> <%= @build_orders.where(used: nil).count %>
</div>

<%= will_paginate %>

<hr>
<% @build_orders.order(created_at: :DESC).each do |order| %>
	<p>
		User: <% if order.user.nil? %>Anonymous<% else %><%= order.user.name%><% end %><br>
		Created: <%= order.created_at %><br>
		Used: <%= order.used %><br>
		Message: 
		<% order.message.split(" ").each do |glyph| %>
			<%= render partial: 'shared/glyph_read', locals: {glyph: @glyphs.find(glyph)} %>
		<% end %>
		<hr>
	</p>
<% end %>

<%= will_paginate %>