<% provide(:title, "Tower Brick Lightning") %>
<% if !logged_in? %>
	<div class = "center jumbotron">
		<h1>Tower Brick Lightning</h1>
		<p>
			You and your friends and a bunch of strangers are building a tower to the heavens, to escape because you have been mistreated.
		</p>
		<p>
			Those who wish to stop you have put a curse on you, limiting your communication. You must try to work together and build the tower despite these limits.
		</p>
		<p>
			Tower Brick Lightning is a massively multiplayer browser based game about construction, confusion, and collaboration. Work with your fellow builders to get the tower to the heavens, while trying to collaborate best you can despite your curses.
		</p>
		<%= link_to "Play Now", new_build_order_path, class: "btn btn-lg btn-primary" %>

		<%= link_to "Sign Up", signup_path, class: "btn btn-lg btn-primary" %>
		<%= link_to "Learn More", about_path, class: "btn btn-lg btn-primary" %>
	</div>
<% else %>
	<h1><%= current_user.name %></h1>
	<div id = "information">
		<div id = "player_status">
			Actions: <%= current_user.actions %>
		</div>
		<div id = "siderbar">
			<div id = "global_stats" class = "box">
				Tower Height: <%= @towers %> stories</br>
				Total Bricks: <%= @bricks %></br>
			</div>
			<div id = "links" class = "box">
				<%= link_to "Build Tower", new_build_order_path %><br/>
				<%= link_to "The Tower", tower_pics_path %><br/>
				<%= link_to "Profile", current_user %><br/>
				<%= link_to "Settings", edit_user_path(current_user) %><br/>
				<% if current_user.admin %>
					<%= link_to "Admin", '/admin' %>
				<% end %>
			</div>
		</div>
	</div>
	<div id = "news_feed">
		<h3>Updates</h3>
		<ul>
			<% @news_items.each do |news| %>
				<li class = "<%= news.msg_type %>"><%= news.created_at.strftime("%_m/%-d, %l:%M %p")%>: <%= news.message.html_safe %></li>
			<% end %>
		</ul>
		<%= will_paginate @news_items %>
	</div>
<% end %>