<%= provide(:title, "Levels") %>

<h1 class = "center">What are Levels?</h1>
<p>
	The tower can be divided into distinct levels, each one on top of the other.
  <span class = "overlap" data-text = "You approach">Go ever higher</span>. Different levels
  have different rules: it might take more or less time for bricks to be placed, require more
  strength, or <span class = "overlap" data-text = "even worse things">things yet unknown</span>.
</p>

<p>
  <%= image_tag "#{Rails.configuration.x.img_url}glyphs/up.png", title: 'UP', width: '40', class: 'glyph_image' %>
  <%= image_tag "#{Rails.configuration.x.img_url}glyphs/destroy.png", title: 'DESTROY', width: '40', class: 'glyph_image' %>
  <%= image_tag "#{Rails.configuration.x.img_url}glyphs/up.png", title: 'DESPAIR', width: '40', class: 'glyph_image' %>
  <%= image_tag "#{Rails.configuration.x.img_url}glyphs/bring.png", title: 'BRING', width: '40', class: 'glyph_image' %>
  <%= image_tag "#{Rails.configuration.x.img_url}glyphs/despair.png", title: 'DESPAIR', width: '40', class: 'glyph_image' %>
  <%= image_tag "#{Rails.configuration.x.img_url}glyphs/up.png", title: 'STRENGTH', width: '40', class: 'glyph_image' %>
  <%= image_tag "#{Rails.configuration.x.img_url}glyphs/large.png", title: 'LARGE', width: '40', class: 'glyph_image' %>
  <%= image_tag "#{Rails.configuration.x.img_url}glyphs/monster.png", title: 'MONSTER', width: '40', class: 'glyph_image' %>
</p>

<p>
	Builders can only put bricks one level above the highest level they've successfully built on so far.If you've successfully put bricks on level 2, you can put bricks on level 3 but no higher. Levels above that can't be seen or built on.
</p>

<p>
  <%= image_tag "#{Rails.configuration.x.img_url}glyphs/builder.png", title: 'BUILDER', width: '40', class: 'glyph_image' %>
  <%= image_tag "#{Rails.configuration.x.img_url}glyphs/no.png", title: 'NO', width: '40', class: 'glyph_image' %>
  <%= image_tag "#{Rails.configuration.x.img_url}glyphs/up.png", title: 'UP', width: '40', class: 'glyph_image' %>
  <%= image_tag "#{Rails.configuration.x.img_url}glyphs/large.png", title: 'LARGE', width: '40', class: 'glyph_image' %>
  <%= image_tag "#{Rails.configuration.x.img_url}glyphs/AGAIN.png", title: 'AGAIN', width: '40', class: 'glyph_image' %><br>
  <%= image_tag "#{Rails.configuration.x.img_url}glyphs/bring.png", title: 'BRING', width: '40', class: 'glyph_image' %>
  <%= image_tag "#{Rails.configuration.x.img_url}glyphs/within.png", title: 'WITHIN', width: '40', class: 'glyph_image' %>
  <%= image_tag "#{Rails.configuration.x.img_url}glyphs/hole.png", title: 'HOLE', width: '40', class: 'glyph_image' %>
  <%= image_tag "#{Rails.configuration.x.img_url}glyphs/top.png", title: 'TOP', width: '40', class: 'glyph_image' %>
  <%= image_tag "#{Rails.configuration.x.img_url}glyphs/up.png", title: 'UP', width: '40', class: 'glyph_image' %>
</p>