<li>
	<%= link_to user.name, user %>
	<% if user.admin? %>
		| ADMIN
	<% end %> |
	<%= link_to "delete", user, method: :delete, data: {confirm: "You sure?"} %><br/>
	Email: <%= user.email %><br/>
	Gender: <%= user.gender %><br/>
	Curse: <%= user.curse %><br/>
	Actions: <%= user.actions %>
</li>