<% provide(:title, 'Edit Level') %>

<h1>Edit Level</h1>
<div>
  <%= form_for @level, url: "/levels/#{@level.id}" do |f| %>
      <%= f.label :level %><br>
      <%= f.text_field :level %><br>

      <%= f.label :update_rate %><br>
      <%= f.text_field :update_rate %><br>

      <%= f.label :strength_requirement %><br>
      <%= f.text_field :strength_requirement %><br>

      <%= f.label :background %><br>
      <%= f.text_field :background %><br>

      <%= f.label :text %><br>
      <%= f.text_area :text %><br>

      <%= f.submit 'Update' %>
  <% end %>
</div>