<% provide(:title, "MINING") %>
<p id = "alert">It is time to go mining</p>

<p id = "mines">
	<% if !@finished %>
		<% Rails.configuration.x.total_mines.times do |i| %>
			<%= button_to "MINE", edit_clay_shipment_path("mine#{i}"), method: "get", remote: true, form_class: "btn mine" %>
		<% end %>
	<% end %>
</p>

<p id = "pack">
	<% Rails.configuration.x.pack_height.times do |i| %>
		<% Rails.configuration.x.pack_width.times do |j| %>
			<% if @shipment.clay[i*Rails.configuration.x.pack_width + j] == Rails.configuration.x.red %>
				<div id = 'grid<%= i*Rails.configuration.x.pack_width + j %>' class = 'red grid clay'></div>
			<% elsif @shipment.clay[i*Rails.configuration.x.pack_width + j] == Rails.configuration.x.brown %>
				<div id = 'grid<%= i*Rails.configuration.x.pack_width + j %>' class = 'brown grid clay'></div>
			<% elsif @shipment.clay[i*Rails.configuration.x.pack_width + j] == Rails.configuration.x.black %>
				<div id = 'grid<%= i*Rails.configuration.x.pack_width + j %>' class = 'black grid clay'></div>
			<% else %>
				<div id = 'grid<%= i*Rails.configuration.x.pack_width + j %>' class = 'blank grid clay'></div>
			<% end %>
		<% end %>
		<br/>
	<% end %>
</p>

<% if !@finished %>
	<%= button_to "FINISH", '/clay_shipments/finish.js', method: "get", remote: true, 
		form_class: "btn finish" %>
<% end %>

<% if @finished %>
	<%= render 'shared/message_form' %>
<% end %>